* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
  }
  
  h2, h3, p
  {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }