@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: 1px 4px 14px 1px #cecece;  
}

@mixin darkness-shadow{
    box-shadow: 2px 4px 15px 1px #b0b0b0;
}

@mixin transition{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}

@mixin break-word{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}